In [1]:
import math

In [2]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [3]:
import numpy

In [4]:
import pandas

In [5]:
math.sqrt(81)

9.0

In [6]:
from math import sqrt

In [7]:
sqrt(120)

10.954451150103322

In [8]:
sqrt(256)

16.0

In [9]:
sqrt(897)

29.949958263743873

In [10]:
from math import isqrt

In [11]:
math.sin(30)

-0.9880316240928618

In [12]:
math.sin(90)

0.8939966636005579

In [13]:
math.cos(100)

0.8623188722876839

In [14]:
math.tan(100)

-0.5872139151569291

In [15]:
math.log(10)

2.302585092994046

In [16]:
math.log(12)

2.4849066497880004

In [17]:
math.log(9)

2.1972245773362196

In [18]:
math.log(8)

2.0794415416798357

In [19]:
math.log(7)

1.9459101490553132

In [20]:
math.log10(10)

1.0

In [21]:
math.log10(8)

0.9030899869919435

In [22]:
name= input ('What is your name')
print ('user entered:',name)

What is your nameNalini
user entered: Nalini

In [23]:
age = input ('What is your age')
print ('Your age is :', age)

What is your age35
Your age is : 35

In [24]:
name = input ('What is your Name')

print ('It was nice talking to '+ 'Mr./Ms. '+ name)

What is your Namenalini
It was nice talking to Mr./Ms. nalini

In [25]:
name = input ('Input your name please')
print ('Your Name is:',name)

year = input ('Enter your birth of year ')
print ('Your birth year is:',year,'Mr.',name)

Input your name pleaseNalini
Your Name is: Nalini
Enter your birth of year 1987
Your birth year is: 1987 Mr. Nalini

In [26]:
math =int(input('Enter Math Marks'))
science=int(input('Enter Science Marks'))
Total_Marks =math+science
print ('Your Total Marks Is:=',Total_Marks)

Enter Math Marks85
Enter Science Marks56
Your Total Marks Is:= 141

In [27]:
name= input('Enter Your Name=')

if name.isalpha():
    print ('Your Name Is=',name)
else:
    print('Enter only alpha charactors')

Enter Your Name=Nalini
Your Name Is= Nalini

In [28]:
name=input ('Enter Your Name ')

if name.isalpha():
    print ('Your Name is=', name)
else:
    print('Enter only alpha characotors')

Enter Your Name Nalini
Your Name is= Nalini

In [29]:
math =int(input('Enter Your Math Marks ='))

if math >100:
    print("You can\'t enter more than maximum" )
else:
    print ('Your Math Marks Is=',math)
science = int(input('Enter science Marks'))

if science>100:
    print ('you can enter only less than 100')
else:
    print('Your science Marks Is=', science)
Total_Marks=math+science
print ('Your Total Marks is=',Total_Marks)

Enter Your Math Marks =65
Your Math Marks Is= 65
Enter science Marks46
Your science Marks Is= 46
Your Total Marks is= 111

In [30]:
math=78

subject='Data Ssience'

science=85

In [31]:
try:
    total_marks= math+science
except:
    print('You Are adding str to integer, you should enter both match data')
else:
    print ( 'Your toatal marks=',total_marks)

Your toatal marks= 163

In [32]:
try:
    total_marks=math+science
except:
    print('Enter only integer')
else:
    print('Your total Marks is=',total_marks)

Your total Marks is= 163

In [8]:
try:
    math_marks=input('Enter your math marks')
    science= input('Enter your science')
    english=input ('Enter english marks')
    
    if math_marks==' ':
        raise Exception()
    elif science == ' ':
        raise Exception()
    elif english == ' ':
        raise Exception()
    else:
        pass
except:
    if math_marks ==' ':
        print (' Please provide math marks.')
    if science == ' ':
        print ('Please provide science marks. ')
    if english == ' ':
        print('Please provide english marks. ')
else:
    print ('Thank you for providing all details')

Enter your math marks
Enter your science
Enter english marks
 Please provide math marks.
Please provide science marks.
Please provide english marks.

In [23]:
try:
    math_marks=input('Enter your math marks  ')
    science= input('Enter your science  ')
    english=input ('Enter english marks  ')
    
    if math_marks==' ':
        raise Exception()
    elif science == ' ':
        raise Exception()
    elif english == ' ':
        raise exception()
    else:
        pass
except:
    if math_marks ==' ':
        print ('\n Please provide correct details \n')
    if science == ' ':
        print ('Please provide correct details \n')
    if english == ' ':
        print('Please provide correct details')
        
else:
    print ('Thank you for providing all details')

Enter your math marks
Enter your science
Enter english marks

 Please provide correct details

Please provide correct details

Please provide correct details

In [22]:
try:
    
    basic = input('Enter your basic  ')
    DA= input('Enter your DA  ')
    HRA=input('Enter your HRA')
    
    if basic ==' ':
        raise exception
    elif DA== ' ':
        raise exception
    elif HRA == ' ':
        raise exception
    else:
        pass
except:
    
    if basic == ' ':
        print (' \n Please enter correct input \n')
    if DA == ' ':
        print ('Please enter DA \n')
    if HRA == ' ':
        print ('Please enter HRA amount')
        
finally:
    print ('\n Thank you for providing the details')

Enter your basic
Enter your DA
Enter your HRA

 Please enter correct input

Please enter DA

Please enter HRA amount

 Thank you for providing the details

In [27]:
def roll_number():
    
    
    try:
        val= int(input('Enter your roll no. '))
    except:
        print ('Roll no. must be start with integer')
    print(val)

In [28]:
roll_number()

Enter your roll no. 125
125

In [1]:
def roll_number():
        try:
            val= int(input('Your roll no.  '))
        except:
            print('Enter only digits')
            
        print (val)

In [4]:
roll_number()

Your roll no.  1254
1254

In [5]:
def roll_number():
    
    while True:
        try:
            val= int(input(' Your roll number is  '))
        except :
            print('Enter only digits')
            continue
        print (val)
        break

In [6]:
roll_number()

 Your roll number is  fsdfz
Enter only digits
 Your roll number is  fgbdxgb
Enter only digits
 Your roll number is  bfnfv
Enter only digits
 Your roll number is  12345
12345

In [7]:
def mobile_number():
    while True:
        try:
            number= int(input('your mobile number  '))
        except:
            print ('Enter only digit  ')
            continue
        else:
            if len(str(number))!=10:
                print ('Mobile number must be 10 digit')
                continue
            print ('Thank you')
            break

In [8]:
mobile_number()

your mobile number  jskjdhhzxbmn
Enter only digit
your mobile number  jeshod
Enter only digit
your mobile number  1235
Mobile number must be 10 digit
your mobile number  12385656
Mobile number must be 10 digit
your mobile number  9764826134
Thank you

In [11]:
def employee_salary():
    
    while True:
        try:
            salary= int(input('your salary is  '))
        except:
            print('Please provide correct input ')
            continue
        else:
            if len(str(salary))!=5:
                print ('It must be in 5 digit')
                continue
            print ('Your new salaryis >>= ',salary+(salary*.30))
            break

In [12]:
employee_salary()

your salary is  2588+
Please provide correct input
your salary is  njfegufa
Please provide correct input
your salary is  njfhuawyjs
Please provide correct input
your salary is  10000
Your new salaryis >>=  13000.0

In [51]:
class Employee:
    
    def __init__(self,name,surname,year_of_birth):
        self.name= name
        self.surname= surname
        self.year_of_birth= year_of_birth
        
    def emp_personal_information(self):
        print('Name =',self.name, '\n Surname =',self.surname, '\n Year of Birth =',self.year_of_birth)

In [52]:
emp =Employee('Nalini','Sethana', 1987)

In [53]:
emp.emp_personal_information()

Name = Nalini
 Surname = Sethana
 Year of Birth = 1987

In [65]:
class Employee:
    
    def __init__(self,name,surname,year_of_birth):
        self.name= name
        self.surname= surname
        self.year_of_birth= year_of_birth
        
    def emp_personal_information(self):
        print('Name ='+ self.name, '\n Surname =',self.surname, '\n Year of Birth =',self.year_of_birth)

In [66]:
emp =Employee('Nalini','Sethana', 1987)

In [67]:
emp.emp_personal_information()

Name =Nalini
 Surname = Sethana
 Year of Birth = 1987

In [110]:
class Student:
    def __init__(self,name,mob_no,date_of_birth,location_from,marks):
        self.name=name
        self.mob_no=mob_no
        self.date_of_birth=datetime.strptime(date_of_birth,'%b %d %Y')
        self.location_from=location_from
        self.marks=marks
        
    def stu_personal_details(self):
        print(' Name =' + self.name,'\n date_of_birth=',self.date_of_birth,'\n Location=',self.location_from)
        
    def stu_marks(self):
        if self.marks <500:
            print('First class')
        elif self.marks>400:
            print('Second Class')
        else:
            print('Pass')

In [111]:
ramesh = Student('Shrianshi',9731545268,'Mar 07 2020','Pune',450)

In [112]:
ramesh.stu_marks()

First class

In [113]:
ramesh.stu_personal_details()

 Name =Shrianshi
 date_of_birth= 2020-03-07 00:00:00
 Location= Pune

In [118]:
class Employee:
    def __init__(self,name,date_joining,emp_id,mob_no,date_of_birth,location,grade,gender):
        self.name=name
        self.date_joining=datetime.strptime(date_joining,'%b %d %Y')
        self.emp_id=emp_id
        self.mob_no=mob_no
        self.date_of_birth=datetime.strptime(date_of_birth,'%b %d %Y')
        self.location=location
        self.grade=grade
        self.gender=gender
        
    def emp_personal_details(self):
        print (' Name= ',self.name,'\n Gender =',self.gender,'\n Date of Birth =',self.date_of_birth,'\n Location =',self.location,)

In [119]:
Suresh = Employee('Suresh','Feb 26 1996','CP29426',9764826123,'Nov 17 1984','Pune','M2B','Male')

In [120]:
Suresh.emp_personal_details()

 Name=  Suresh
 Gender = Male
 Date of Birth = 1984-11-17 00:00:00
 Location = Pune

In [5]:
class Student:
    def __init__(self,name,date_of_birth,father_name,mobile_no,address):
        self.name=name
        self.date_of_birth=datetime.strptime(date_of_birth,'%b %d %Y')
        self.father_name=father_name
        self.mobile_no=mobile_no
        self.address=address
        
    def stu_details(self):
        print (' Name ='+self.name,"\n Father Name =",self.father_name,'\n Mobile No. =',self.mobile_no)

In [8]:
Ram=Student('Ram',"Jan 01 1989",'Radheshyam',7765620088,'Patna')

In [7]:
from datetime import datetime

In [9]:
Ram.stu_details()

 Name =Ram
 Father Name = Radheshyam
 Mobile No. = 7765620088

In [13]:
class Employee:
    def __init__(self,name,date_of_birth,mob_no,date_of_joining,address,year_of_experiance,salary):
        self.name=name
        self.date_of_birth=datetime.strptime(date_of_birth,'%b %d %Y')
        self.mob_no=mob_no
        self.date_of_joining=datetime.strptime(date_of_joining,'%b %d %Y')
        self.address=address
        self.year_of_experiance=year_of_experiance
        self.salary=salary
        
    def emp_details(self):
        print (' Name ='+self.name,'\n DOB =',self.date_of_birth, '\n Year of Experiance =',self.year_of_experiance,'\n DOJ =',self.date_of_joining)
    
    def emp_salary(self):
        if self.salary<25000:
            print ('New Salary Is=',self.salary+(self.salary*0.30))
        else:
            print ('New Salary Is =',self.salary+(self.salary*.20))

In [17]:
Ramesh=Employee('Ramesh','Nov 17 1984',9764826832,'Feb 26 2018','Pune','12 Years',24000)

In [18]:
Ramesh.emp_salary()

New Salary Is= 31200.0

In [19]:
Ramesh.emp_details()

 Name =Ramesh
 DOB = 1984-11-17 00:00:00
 Year of Experiance = 12 Years
 DOJ = 2018-02-26 00:00:00

In [20]:
Nalini=Employee('Nalini','Mar 01 1987',9372711837,'Jul 06 2019','Pune','13 years',37000)

In [21]:
Nalini.emp_details()

 Name =Nalini
 DOB = 1987-03-01 00:00:00
 Year of Experiance = 13 years
 DOJ = 2019-07-06 00:00:00

In [22]:
Nalini.emp_salary()

New Salary Is = 44400.0

In [28]:
class Employee_id(Employee):
    def __init__(self,employee_id,*args):
        super(Employee_id,self).__init__(*args)
        self.employee_id=employee_id
    def employee_details(self):
        print (' Employee Id =',self.employee_id,'\n Name =',self.name)

In [29]:
Employee_details=Employee_id('CP29426','Nalini','Mar 01 1987',9372711837,'Jul 06 2019','Pune','13 years',37000)

In [30]:
Employee_details.employee_details()

 Employee Id = CP29426
 Name = Nalini

In [39]:
class Father_name(Employee):
    def __init__(self,father_name,*args):
        super(Father_name,self).__init__(*args)
        self.father_name=father_name
    def emp_details(self):
        print(' Name ='+self.name,'\n Father Name=',self.father_name,'\n DOB =',self.date_of_birth)

In [40]:
Suresh=Father_name('Sitaram','Nalini','Mar 01 1987',9372711837,'Jul 06 2019','Pune','13 years',37000)

In [41]:
Suresh.emp_details()

 Name =Nalini
 Father Name= Sitaram
 DOB = 1987-03-01 00:00:00

In [42]:
# Encapsulation

In [57]:
class Tyres:
    def __init__(self,branch,belted_bais,opt_pressure):
        self.branch=branch
        self.belted_bais=belted_bais
        self.opt_pressure=opt_pressure
    def __str__(self):
        return("Tyres: \n \tBranch=",self.branch,"\n \tBelted Bais=",str(self.belted_bais), "Optimum Pressure =",str(self.opt_pressure))
class Engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
    def __str__(self):
        return("Engine: \n \tFUEL Type=",self.fuel_type, "\n \tNoise Level =", str(self.noise_level))
class Body:
    def __init__(self,size):
        self.size=size
    def __str__(self):
        return ("Body: \n \tSize =",self.size)
class Car:
    def __init__(self,tyres,engine,body):
        self.tyres=tyres
        self.engine=engine
        self.body=body
    def __str__(self):
        return  str(self.tyres)+"\n"+ str(self.engine)+"\n"+ str(self.body)
    
t=Tyres('MRF',True,32)
e=Engine('Petrol',2.3)
b=Body('SUV')
c=Car(t,e,b)
print(c)

TypeError: __str__ returned non-string (type tuple)